body {
        width: 960px;
        margin: 0 auto;
        font-size: 18px;
}



section, select {
        width: 100%;
        margin: 0 auto;
}

section {
        margin-top: 50px;
        border: 2px solid rgb(195, 191, 186);
        padding: 20px;
        background-color: rgb(230, 225, 219);
        border-radius: 5px;
        box-shadow: 7px 9px 29px -10px rgba(80, 78, 78, 0.75);
}

label, input {
        width: 100%;
        margin-bottom: 15px;
        box-sizing: border-box;
}
input, select {
        height: 40px;
        width: 100%;
        font-size: 20px;
        padding: 5px;
}
label {
        margin-top: 20px;
}
input:last-of-type{
        margin-top: 30px;
        background-color: rgb(85, 134, 21);
        height: 40px;
        border-radius: 6px;   
        color: white; 
        font-size: 18px;
        padding: 10px 10px;
        box-shadow: 7px 9px 29px -3px rgba(0,0,0,0.75);
}

fieldset {
        margin-bottom: 30px;
}